body {
    text-align: center;
    margin: 0px;
}

div {
    background-color: #F0EBCC;
}

h1 {
    margin-top: 0px;
}

.top {
    padding-top: 50px;
}

.middle {
    background-color: #3D84B8;
    height: 200px;
    width: 200px;
    right: 0px;
    top: 400px;
}

.bottom {
    background-color: #344FA1;
    height: 200px;
    width: 200px;
    right: 200px;
    top: 200px;
}

.bottomTwo {
    background-color: #3F3697;
    height: 200px;
    width: 200px;
}

.bottomCloud {
    position: absolute;
}

.topCloud {
    position: absolute;
    right: 350px;
}